::webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-image: url("img/map-bounds.png");
  background-color: #000000;
  cursor: none;
  height: 100%;
  z-index: -1;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.info-pin {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  background-size: cover;
  background-image: url("img/pin.png");
}

.info-container {
  position: fixed;
  width: 40vw;
  left: 50%;
  margin-left: -40vw;
  height: 40vh;
  top: 50%;
  margin-top: -40vh;
  z-index: 10;
  display: none;
  border: 1px solid red;
}

/* label { display: block; width: 100%; } */
.info-pin input[type="radio"]:checked ~ .info-container {
  display: block;
}

.info {
  /* position: relative;
  height: auto;
  width: 93%; */
  background-color: #edeae6;
  border-radius: 10px;
  /* float: left; */
}

.tab {
  position: absolute;
  height: 40px;
  width: 20px;
  top: 48%;
  border-left: 20px solid #edeae6;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  float: left;
  margin: 0 auto;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.info-image {
  position: relative;
  float: left;
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}

.info-text {
  position: relative;
  float: left;
  height: 60%;
  width: 90%;
  margin-top: 2%;
  margin-left: 5%;
  overflow: hidden;
}

.info-close {
  position: relative;
  height: 10%;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.info-title {
  position: relative;
  height: auto;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.info-description {
  position: relative;
  width: 100%;
  height: 65%;
  font-size: 12px;
  overflow-y: hidden;
}

.hide {
  display: none;
}

